<a href="https://colab.research.google.com/github/williamtatecarr/DS-1002/blob/main/Assignments/07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [2]:
# Load pandas and the data
import pandas as pd
url = "https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv"
df = pd.read_csv(url)

In [3]:
# show how many rows and columns are in this dataset
df.shape
#25760 rows and 10 columns

(25760, 10)

In [4]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
df['duration'] = df['duration'].str.strip('minutes')
df['duration'] = pd.to_numeric(df['duration'])
#lines worked first time, shouldn't work from now on because there is no longer a string so str.replace can't trace

In [ ]:
# Now display the datatypes in the updated dataframe
df.dtypes

In [52]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
df['duration'].min()

1

In [53]:
df['duration'].max()

1372

In [56]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
newdf = df[df['duration'] < 60]

In [57]:
# Now show both the min and max values of the duration column for your new dataset.
newdf['duration'].min()

1

In [58]:
newdf['duration'].max()

59

In [ ]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
newdf = newdf[newdf['tire_size'] ==26]

In [60]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
fdf = df[df['user_gender'] == 'Female']
fdf = fdf[fdf['tire_size'] == 26]
fdf = fdf[fdf['duration']<= 60]
fdf.shape
#count of all records with FEMALE riders using the 26-inch wheeled rental bikes for their rentals of one hour or less = 2962

(2962, 10)

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [ ]:
url2 = "https://raw.githubusercontent.com/aaron-abrams-uva/DS1002-S24/main/data/more-messy-data.csv"
npdf = pd.read_csv(url2)

In [64]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
npdf.duplicated().sum()

0

In [63]:
# Next, remove all duplicate rows using Python.
npdf=npdf.drop_duplicates()

In [68]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.
npdf[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']] = npdf[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].fillna(npdf.mean())

<ipython-input-68-243c040aca81>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  npdf[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']] = npdf[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].fillna(npdf.mean())

In [51]:
# Find any values in the dataframe that are still missing, and delete them.
npdf = npdf.dropna()

In [ ]:
# How many different species are there?
npdf['species'].unique()
#10 unique names, but really only 3

In [50]:
# Clean up the 'species' variable so that there are exactly three different values.
mapping = {'virginica': 'Virginica', 'Viginica' : 'Virginica', 'Virginia': 'Virginica', 'setosa': 'Setosa', 'setoso': 'Setosan', 'versicolor': 'Versicolor', 'veriscolor': 'Versicolor', 'Virsicolor' : 'Versicolor','Veriscolor':'Versicolor', 'Setosan':'Setosa'}
npdf['species'] = npdf['species'].replace(mapping)
npdf['species'].dropna().unique()

array(['Virginica', 'Setosa', 'Versicolor'], dtype=object)

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [107]:
import re

# A regular expression in a text chunk
exp = r'[A-Z]{3}\d{4}'

# One or more code chunks in which you test several strings to verify that your regex is correct.
test = ['aabbbc',  'aDb3333', 'TRL5689',   'DNDI12345', '678D2CD',  'DDDDD', '$GH3457', 'ABC1234']

for exp in test:
    if re.match(exp, string):
        print("match!")
    else:
        print("No match")

# uncomment this line if you want
#print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))

No match
No match
No match
No match
No match
No match
No match
match!